<div class="collapse show" id="color-collapse">
  <div id="header" class="card-header">
    
    <input
     type="text"
     class="form-control"
     id="colorFilterText"
     placeholder="Search a color"
     [(ngModel)]="filterText"
    />
  </div>
<ul class="btn-toggle-nav list-unstyled fw-normal pb-2 ">
      <li id="text1" *ngFor="let color of colors | colorPipe:filterText"> <a routerLink="/cars/color/{{color.colorId}}" class="link-dark rounded">{{color.colorName}}</a></li>
  </ul>
</div> 