#logo{
   
    margin-left: 30px;
}
#Start{
    float:left;
    margin-left: 90px;
    
}
#Login{
    float: right;
}
#Home{
    margin-left: 130px;
}
#nav{
    color: white;
}
#cartlogo{
    margin-bottom: 5px;
}
#cart{
    margin-left: 100px;
    width: 300px;
}
