
<body>
 
  <div class="wrap">
   
      <div class="header">
        <app-navi></app-navi>
      </div><!-- Başlık -->
   
      <div class="content">
        <router-outlet></router-outlet> 
      </div><!--  İçerik -->
       
      <div class="sidebar"> 
        <button id="brands" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
              data-bs-target="#brand-collapse" aria-expanded="true">
             All Brands </button>
            <app-brand></app-brand> 
            <p></p>
            <button id="colors" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#color-collapse" aria-expanded="true">
           All Colors </button>     
         <app-color></app-color><p></p>
         <button routerLink="/cars" id="filt"type="button" class="btn btn-dark">Clear</button>
       <p></p>
         

      </div><!-- kenar menü -->
       
      <div class="clear"></div>
       
      <div class="footer">
        
  
      </div><!-- Alt bilgi -->
      
  </div><!-- wrap bütün sütunları, satırları sar -->
   
  </body>
  



















