<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row">

  <div class="mb-3">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
     placeholder="Rent a car">
  </div>
  
  <div *ngFor="let car of cars | filterPipe:filterText" class="col-lg-4 col-md-5" >
    <div  class="card border-0 mb-1" style="width: 18rem">

        <img  routerLink="/cars/cardetail/{{ car.carId }}" *ngIf="car.carImage" 
        [src]="defaultPath+car.carImage" class="card-img-top"
        style="object-fit: cover;" width="100" height="160" alt="...">
        
        <img *ngIf="!car.carImage" [src]="defaultPath+'/images/logo.jpg'" class="card-img-top"
      style="object-fit: cover;" width="100" height="50%" alt="...">
    
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-start">Name</span>
          <span class="float-end">{{ car.carName | uppercase }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Model</span>
          <span class="float-end">{{ car.modelYear }}</span>
        </li>
        <p class="card-text text-center h3 mt-3">
          {{ car.dailyPrice |vatAdded:18 | currency }}</p>         
      </ul>
      <div class="card-body">
        <div class="d-flex action justify-content-between">
          <button (click)="addToCart(car)" class="btn btn-success">Rent</button>
          
          
          <a
            routerLink="/cars/cardetail/{{ car.carId }}"
            class="btn btn"
            >Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

